{
  "extends": "@jahia",
  "plugins": ["json"],
  "parser": "babel-eslint",
  "rules": {
    "react/require-default-props": "off",
    "react/boolean-prop-naming": ["error", { "rule": "^(is|has)[A-Z]([A-Za-z0-9]?)+"} ]
  }
}
