name: Nightly Test run (Jahia RL)

on:
  workflow_dispatch:  
  schedule:
    - cron:  '0 0 * * *'

jobs:
  integration-tests:
    name: Integration Tests (Jahia-RL)
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: external-provider
      jahia_image: ghcr.io/jahia/jahia-ee:8
      provisioning_manifest: provisioning-manifest-build.yml
      artifact_prefix: external-provider
      testrail_project: External Provider