name: Nightly Test run (Jahia SN)

on:
  workflow_dispatch:  
  schedule:
    - cron:  '0 1 * * *'

jobs:
  integration-tests-sn:
    name: Integration Tests (Jahia-SN)
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: external-provider
      jahia_image: ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT
      provisioning_manifest: provisioning-manifest-build.yml
      artifact_prefix: ep-sn
      testrail_project: External Provider
      timeout_job: 45
      timeout_step: 20